{% extends "@panel/base.html.twig" %}
{% block stylesheet %}
{{parent()}}
<style>
    .assets-container {
        min-height: 300px;
    }
</style>
{% endblock %}
{% block javascript %}
{{parent()}}
<script src="/public/assets/Website/dist/index.js"></script>
{% endblock %}

{% block subheader_outer %}{% endblock %}

{% block header_title %}Manage Website{% endblock %}
{% set pages = _box.Website.Pages.listpops %}

{% block content %}
<div class="row m-3 mt-3 mt-lg-4">
    <div class="col-12 col-lg-8 overflow-y-auto">
        <h2>List Pages</h2>
        <p>list of pages on the website, some pages may be provided by other modules.</p>
        <div class="row">
            {% for item in pages %}
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="shadow-sm p-3">
                    <div class="fw-semibold">{{item.title|length?item.title:"<span class='text-muted'>Untitled</span>"|raw}}</div>
                    <p>{{item.decription|length?item.decription:"<span class='text-muted'>No description</span>"|raw}}</p>
                    <a href="{{item.route|url}}" target="_blank">{{item.route|url}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-12 col-lg-4 p-3">
        <h2 class="fs-4 fw-semibold">Assets</h2>
        <small>global assets for all pages on the website</small>
        <div class="rounded-3 shadow-sm m-3 p-3" id="assets-root"></div>
    </div>
</div>
{% endblock %}